/* Estilo general para el cuerpo de la página */
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif; /* Default font for better readability */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F005%2F152%2F718%2Foriginal%2Fdark-floral-or-ornament-seamless-pattern-background-elegant-luxury-texture-backgrounds-vector.jpg&f=1&nofb=1&ipt=bac6c5350d53d6a8989385c55a289f781cbeb6bf05960eac4d309514b0412e8b&ipo=images");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(76, 83, 90);
}

/* Contenedor general para organizar la grilla */
.contenedorGeneral {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crea una grilla de 4 columnas */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px; /* Espacio interno del contenedor */
  
}

/* Estilo para cada tarjeta de objeto de arte */
.carta {
  background-color: #969ba0; /* Color de fondo claro para las tarjetas */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Para que la imagen no se desborde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para un efecto elevado */
  transition: transform 0.3s; /* Transición suave para el efecto hover */
  
}
.boton{
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.carta:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

/* Estilo para el contenido de cada tarjeta */
.carta-contentenido {
  padding: 15px; /* Espacio interno */
  color: black;
}

.carta-contentido h2 {
  margin: 0; /* Elimina márgenes por defecto en los títulos */
  font-size: 1.5em; /* Tamaño del texto del título */
}

.carta-contentido p {
  margin: 5px 0; /* Márgenes para los párrafos */
  font-size: 1em; /* Tamaño del texto para la cultura y dinastía */
}

/* Estilo para las imágenes dentro de las tarjetas */
.carta img {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
  height: 40%; /* Mantiene la proporción de la imagen */
  display: block; /* Elimina el espacio extra debajo de la imagen */
}

h1 {
  padding-left: 30%;
  padding-right: 30%;
}

#filtrado {
  background-color: rgb(76, 83, 90);
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 1%;
  input{
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  select{
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}

.cont-carga {
  text-align: center;
  margin: auto;
  height: 100px;
  width: 100px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.carga {
  border: 25px solid rgb(255, 255, 255);
  border-top-color: #6d6b69;
  height: 50%;
  width: 50%;
  border-radius: 100%;
  display: none;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

.show-carga {
  display: flex;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Espacio entre imágenes */
  margin-top: 20px;
}

#imagenes img {
  max-width: 20%;
  max-height: 20%;
  height: auto;
  border: 2px solid #ccc; /* Borde ligero alrededor de las imágenes */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 8px rgba(89, 90, 7, 0.1); /* Sombra sutil */
  transition: transform 0.3s; /* Efecto de transición al hacer hover */
  
}

#imagenes img:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

#botones_paginado {
  display: flex;
  justify-content: space-around;
  color: #ecf0f1;
  
  input {
    border-radius: 8px;
    width: 75px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}
